#iotControls {
    background-color: rgb(225, 221, 216);
    padding: 50px;
    margin-left: 240px;
    margin-bottom: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 91vh;
  }

.iotControls-main {
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  background-color:rgb(74, 175, 175);
  padding: 20px;
  height: 20vh;

  border-radius: 1rem;
}


.control__card {
  background: var(--color-primary-variant);
  border: 1px solid transparent;
  border-radius: 6rem;
  padding: 2rem 1rem;
  text-align: center;
  transition: var(--transition);
  width: 15vw;
  font-size: 30px;
  line-height: 0;
}

.control__card:hover {
  background: var(--color-bg-variant);
  border-color: var(--color-bg-variant);
  cursor: default;
}

.light-content {
  font-size: 80px;
  background-color: rgba(116, 173, 227, 0.551);
  border-radius: 8rem;
  width: 30%;
  margin-top: 10px;
}