#contact-favorite-container {
  border-radius: 3rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.contact-fav-card {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  gap: 1rem;
  text-align: left;
  font-size: 15px;
  background-color: rgb(140, 222, 233);
  border-radius: 1rem;
  height: 20vh;
  padding: 20px 30px 20px 30px;
  box-shadow: 14px 16px 15px 5px #062026

}

.contact-info {
  color:rgb(34, 39, 49);
}

.contact-help {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  gap: 1rem;
  text-align: left;
  font-size: 15px;
  background-color: rgb(244, 149, 118);
  border-radius: 1rem;
  padding: 20px 30px 20px 30px;
  box-shadow: 14px 16px 15px 5px #062026
}