#greeting-container {
  background-color: #F0F0F0;;
  border-radius: 2rem;
  padding: 25px;
  height: 25vh;
}

.greeting-change {
  padding-right: 20px;
  font-size: 30px;
  text-align: end;
  color: rgb(19, 19, 19);
}