#greeting-container {
  background-color: rgb(114, 191, 249);
  border-radius: 2rem;
  padding: 25px;
  height: 25vh;
}

.greeting-change {
  padding-right: 20px;
  font-size: 30px;
  text-align: end;
  color: rgb(255, 255, 255);
}