#entertainment {
  background-color: rgb(225, 221, 216);
  padding: 50px;
    margin-left: 240px;
    margin-bottom: 20px;
    border-radius: 30px;
    display: flex;
    height: 100vh;
    width: 80vw;
    height: 91vh;
}


